$red:#ff0000;
$black:#101010;
$darkgrey:rgb(133, 130, 130);
$lightGrey:#f3f3f3;
$grey:#c4bebe;
$green:#1ac45e;
$white:#fff;
$greyborder:#f1f1f1;
$greyBg:#fafafa;
$shadowGrey:#dedede;
$yellow:#ffc400;

$cairo: 'Cairo', sans-serif;


